*{
    margin: 0;
}

h1,h2{
    text-align: center;
    font-family: 'Tourney', cursive;
}

.botonera{
    font-family: 'Cinzel', serif;
}

.head{
    background-color: lightgreen;
    
}

.botonera{
    background-color: greenyellow;
    text-align: center;
}

#registroDePartidos{
    text-align: center;
    font-family: 'Cinzel', serif;
    width: 30%;
    margin-left: 33.5%;
}